@charset "UTF-8";

h1, h2 {
	text-align: center;
}

/*
* {
	font-family: "Lucida Grande", "Verdana";
	font-size: 18px;
	color: navy;
}
table {
	font-family : "Verdana";
	margin: 5px;
	padding: 5px;
}

table thead {
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

.center {
	text-align: center;
}

input,select,textarea{
     
      background-color: rgb(188, 243, 244);
}
*/

.required {
  color: red;
}

.errorMsg {
	background-color: yellow;
	color: black;
	border: 1px solid red;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
