@charset "UTF-8";

* {
	font-family: "Lucida Grande", "Verdana";
	font-size: 18px;
	color: navy;
}

h1 {
	text-align: center;
}

table {
	font-family : "Verdana";
	margin: 5px;
	padding: 5px;
}

table thead {
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

.center {
	text-align: center;
}

input,select,textarea{
     
      background-color: rgb(188, 243, 244);
}

.required {
  color: red;
}
